@import "config";

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $Very-Light-Gray;
}

main {
  max-width: 300px;
  width: 80%;
}
.description {
  line-height: 1.2em;
  .subtitle {
    line-height: 1.5em;
    font-weight: 300;
    color: $Grayish-Blue;
    
  }
  .title {
    line-height: 1.5em;
    font-weight: 900;
    color: $Very-Dark-Blue;
    padding-bottom: 0.5em;

  }

  p {
    line-height: 1.5em;
    font-size: 1.1em;
    font-weight: 200;
    text-align: center;
    color: $Grayish-Blue;
    padding-bottom: 4em;
  }
}

.super,
.team-builder,
.karma,
.calculator {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  
  background-color: white;
  margin-bottom: 1.5em;
  border-radius: 0.3em;
  box-shadow: -6px 6px 10px 0px #e6e8f4;
  h2 {
    color: $Very-Dark-Blue;
    padding-bottom: 0.5em;
    font-weight: 900;
  }
  p {
    color: $Grayish-Blue;
    line-height: 1.5em;
    font-size: 1.1em;
    font-weight: 200;
  }
  img {
    align-self: flex-end;
    margin-top: 1em;
  }
}
.super {
  border-top: .3em solid $Cyan;
}
.team-builder {
  border-top: .3em solid $Red;
}
.karma {
  border-top: .3em solid $Orange;
}
.calculator {
  border-top: .3em solid $Blue;
}

@media only screen and (min-width: 1260px) {
  main {
    max-width: 900px;
    width: 80%;
  }
  .description {
    padding: 1em 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .subtitle {
      font-size: 2em;
    }
    .title {
      font-size: 2.2em;
      font-weight: bold;
    }

    p {
      font-size: 1.1em;
      padding-bottom: 1.5em ;
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.super,
.team-builder,
.karma,
.calculator{
  padding:2em 2em;
  min-width:380px;
  img{
margin-top:2.5em;
  }
}
.row {
  margin: 0em 3em;
}
}
